# Hogwarts School of Data Wizardry
## Session 1: Intro to Python!
`Slytherin`  |   [GitHub](https://github.tesla.com/EHSS/Hogwarts) | [Documentation](https://confluence.teslamotors.com/display/EHSSST/Hogwarts+School+of+Data+Wizardry)

#################################################################################################################################################
#################################################################################################################################################

## Table of Contents:
### 1. [Introduction](#1-introduction)
-  [1.1 What is Python](#11-what-is-python)
-  [1.2 Running Python](#12-how-can-we-run-python)
### 2. [Data Types](#2-data-types)
- [2.1 Lists](#21-lists)
- [2.2 Dictionaries](#22-dictionaries)
### 3. [Conditionals](#3-conditional-statements)
### 4. [Functions](#4-functions)
- [4.1 Practice](#41-try-it-out)
### 5. [Iteration](#5-iteration)
- [5.1 For Loops](#51-for-loops)
- [5.2 While Loops](#52-while-loops)
- [5.3 Practice](#53-try-it-out)
### 6. [Datafranes](#7-dataframes)
- [6.1 Loading the Data](#61-getting-the-data)
- [6.2 Exploring the Data](#62-exploring-the-data)
- [6.3 Changing the Data](#63-slicing-the-data)
- [6.3.1 Example](#631-example)
- [6.3.2 Practice](#632-try-it-out)
### 7. [Error Checking](#8-error-checking)
- [7.1 Try and Except](#71-try--except)
- [7.2 Assert](#72-assert-statements)
- [7.3 Conditional](#73-conditionals)
- [7.4 Raise Exception](#74-raise-exceptions)
### 8. [Solutions](#8-solutions)
- [Solution to 4.1](#41-solution)
- [Solution to 5.3](#53-solution)
- [Solution to 6.3.2](#733-solution)

#################################################################################################################################################
#################################################################################################################################################

## 1. Introduction

#### 1.1 What is Python?

Python is a high-level, interpretive programming language that we will use for all things data! Some possible use cases:
- cleaning a data set
- creating a dataframe
- filling a data table
- exploring data science algorithms on a data set
- accessing an API
- migrating data to SQL server
- web-scraping

... and a ton of other automated workflows. 

There are so many resources online to learn about python as a programming language, in the context of data science, and other use cases. My favorite resource is [this textbook](http://composingprograms.com/) written by Berkeley for the intro computer science course.

##### To run a cell, use 'shift' + 'enter' to run and keep running, or 'ctrl' + 'enter' to sprint and stop.

#### 1.2 How can we run Python?

We like using `.ipynb` and `.py` files to run our python codes. 

`ipynb` files are Jupyter Notebooks, where the output of the code is displayed in the immediate environment. Very useful for real-time data cleaning or analysis. 

`py` files are Python files, useful for running automated reports and functions, especially when defining classes.

In [3]:
#This is an example of a print statement, requires single or double quotes inside of the print() function call. 
print("Hello Data Wizards!")

Hello Data Wizards!

#### 1.3 Python Packages

Pandas is a powerful python package used primarily for

In [4]:
import pandas as pd
import numpy as np
import math

#################################################################################################################################################

## 2. Data Types / Structures

The 4 collection data types in Python are:
- List 
    - [ordered, changeable, duplicates allowed]
- Tuple 
    - [ordered, unchangeable, duplicates allowed]
- Set 
    - [unordered, unchangeable, unique values]
- Dictionary 
    - [ordered, changeable, unique values]

In python, booleans are either `True` or `False`, corresponding to 1 (as a True value) and 0 (as a false value.)

In [5]:
booleans = [True, False]

To reference a variable in our code, we must first initialize (i.e. set) the variable.

*Some simple variable initializations are:*


* list_variable = []
* string_variable = " "
* int_variable = 0
* tuple_variable = ()

### 2.1 Lists

Lists are widely used in python, and have great buil-in functions. 

Explore these below:
- `append`
- `extend`
- `insert`
- `remove`
- `pop`
- `clear`

In [36]:
wizard_list = ["Dumbledore", "Snape"]
print(wizard_list)

wizard_list.append(["Ron", "Hermoine"])
print("Appending", wizard_list)

wizard_list.extend(["Harry", "Voldy"])
print("Extending", wizard_list)

wizard_list.insert(0, "Draco")
print("Inserting", wizard_list)

['Dumbledore', 'Snape']
Appending ['Dumbledore', 'Snape', ['Ron', 'Hermoine']]
Extending ['Dumbledore', 'Snape', ['Ron', 'Hermoine'], 'Harry', 'Voldy']
Inserting ['Draco', 'Dumbledore', 'Snape', ['Ron', 'Hermoine'], 'Harry', 'Voldy']

In [37]:
wizard_list.remove('Draco')
print("Bye Draco", wizard_list)

popped_wizard = wizard_list.pop()
print("Pop!", popped_wizard, wizard_list)

wizard_list.clear()
print("Bye ALL wizards", wizard_list)

Bye Draco ['Dumbledore', 'Snape', ['Ron', 'Hermoine'], 'Harry', 'Voldy']
Pop! Voldy ['Dumbledore', 'Snape', ['Ron', 'Hermoine'], 'Harry']
Bye ALL wizards []

In [47]:
even_ints = [2, 4, 6, 8]
print(f'My list is {len(even_ints)} values long')

print(f'The value 8 is at the {even_ints.index(8)}rd index')

print(f'Grabbing only the 3rd and 4th index: {even_ints[2:4]}')

My list is 4 values long
The value 8 is at the 3rd index
Grabbing only the 3rd and 4th index: [6, 8]

### 2.2 Dictionaries

Dictionaries are useful to create *mappings*

Below is an example of how we can create a dictionary with `key` : `value` pairs.

In python, dictionaries are ordered and unique.

In [48]:
wizard_rating = {'Harry':10, 'Voldy':5, 'Dumbledore':9, 'Ron':7, 'Snape':6}

In [49]:
print(wizard_rating['Harry'])

10

We can also create dictionaries that contain different data types.

In [51]:
harry = {'age': 10, 'parents': 'dead', 'friends':['Ron', 'Hermoine']}
print(harry)
print(f"Harry's friends are {harry['friends']}")

{'age': 10, 'parents': 'dead', 'friends': ['Ron', 'Hermoine']}
Harry's friends are ['Ron', 'Hermoine']

#################################################################################################################################################

## 3. Conditional Statements

In [6]:
if 5 > 7:
    print("This is incorrect")
elif 5 == 7:
    print("Nope, not this")
else:
    print("This better get printed")

This better get printed

Run the cells below to see how conditional statements logic works. 

Try to answer the following questions:
1. When 2 truthy values are seperated by `and`, which one gets evaluated?
2. When 2 truthy values are seperated by `or`, which one gets evaluated?
3. What is the difference between multiple `if` clauses v. `if`, `elif`?
4. What happens when there is no `else` statement following an `if` statement?

In [1]:
number = 8

if number > 0 and number > 5:
    print(str(number // 3))

2

In [2]:
if number < 0 or number > 5:
    print(str(number ** 2))

64

In [3]:
if number > 0:
    print("hey there")
if (number % 2) == 0:
    print("this number is even")

hey there
this number is even

In [4]:
if number > 0:
    print("hey there")
elif (number % 2) == 0:
    print("this number is even")

hey there

#################################################################################################################################################

## 4. Functions

In [7]:
#an example of a function using conditionals (if / elif / else) and return statements. This takes in one argument (num)
def calc(num):
    '''
    Function descriptions often go inside here. 
    Specificy args. 
    Specificy return values.
    Any other useful info. 
    '''
    if num < 10:
        return num-1
    elif num == 10:
        return num / 2
    else:
        return num

In [8]:
#we can now call our function and pass in the argument
calc(8)

7

In [9]:
calc(10)

5.0

In [10]:
if calc(8) and calc(10):
    print("Both are truthy values")
if calc(4) or calc(9):
    print("At least one is a truthy value")
else:
    print("Falsey values")

Both are truthy values
At least one is a truthy value

Notice that both statements are printed because the two conditional statements are [if] statements, not if and elif, so both get statements are executed.

### 4.1 Try It Out!
Problem: 

Write a function that takes in two arguments, a numerator and denominator. 

If the fraction divides evenly, then return the fraction and print "Divides evenly!"
Otherwise, return the remainder and print "Not divisible by :(, the remainder is " #include the remainder value

In [6]:
#TODO
def divisible_by(numerator, denominator):
    """
    YOUR CODE HERE
    """
    return #FILL ME IN

In [ ]:
divisible_by(9,3)

In [ ]:
divisible_by(10435,61)

#################################################################################################################################################

## 5. Iteration
For loops, while loops, iterable objects.

### 5.1 For Loops

The syntax of a for loop is as follows:

#### 'for' + (counter variable) + 'in' + (iterable object) + ':'

In [11]:
#we can even run our function on a list of numbers
for i in np.arange(11):
    print(str(i) + " gets evaluated to " + str(calc(i)))

0 gets evaluated to -1
1 gets evaluated to 0
2 gets evaluated to 1
3 gets evaluated to 2
4 gets evaluated to 3
5 gets evaluated to 4
6 gets evaluated to 5
7 gets evaluated to 6
8 gets evaluated to 7
9 gets evaluated to 8
10 gets evaluated to 5.0

This is an example of iteration, using a for loop to run the same piece of code on a range of values. Here we use np.arange() to make an array from 0 to 10, but we can initialize arrays differently. We can also iterate through any *iterable* object, not just arrays.

### 5.2 While Loops

We can do something similar in a while loop, which checks the condition through every iteration of the loop, and so long as the condition is met, the code block underneath will be executed.


<span style="color:red">*WARNING: Do not fall into an infinite loop. Make sure that at some point, your condition is no longer met and the loop TERMINATES.* </span>.

In [12]:
x = 0

while x < 10:
    print("You're a wizard")
    x += 1

You're a wizard
You're a wizard
You're a wizard
You're a wizard
You're a wizard
You're a wizard
You're a wizard
You're a wizard
You're a wizard
You're a wizard

The syntax for a while loop is:

#### 'while' + condition + ':'

In this case, our condition is checking the value of a variable. 

Notice that the variable is incremented, using `+=` which is equivalent to `x = x + 1`. 
We can do a similar thing for decrementing, using `-=` or `x = x - 1`

Python is great for simple data structures. 
Useful examples:
- arrays
- lists
- dictionaries
- dataframes

For our purposes we will largely be working with dataframes, so we need to import some packages and prepare a csv file.

### 5.3 Try It Out!

Problem Statement: Using a for loop, or while loop, print out the odd / even status, of every integer from 1-20. 
i.e. result should look like:

1: odd

2: even

3: odd

4: even

....

In [71]:
#ANSWER
#TODO

#################################################################################################################################################

## 6. DataFrames

### 6.1 Getting the Data

These packages need to be imported at the start of every jupyter notebook or python file, when referenced in the script. 

We'll likely use other packages (like `pyodbc` for connection to SQL Server or `sklearn` for machine learning algorithms.)

Once that is done, we need to define our filepath of the csv file to use for our dataframe. 

You can do this by navigating to *File Explorer* and finding the csv in there.

[DOWNLOAD THE CSV HERE.](https://teslamotorsinc.sharepoint.com/:x:/s/GlobalEHSSharePoint/SystemsTools/EZ32-o1EBnNMvetyhd8QGpMBW6KK7Hh4xyX4eHUFN7F7Gg?e=q4mQHq)

In [79]:
#REPLACE your filepath inside the quotation marks. 
filepath = "/Users/hhalabieh/Downloads/EHSCourseData.csv" #REPLACEME

#then read in the file with the line below
dataframe = pd.read_csv(filepath)

We can call DataFrame.head() to make sure that our dataframe has the right data in it. Without specifying any arguments, .head() returns the top 5 rows. 

Think of it as: SELECT * TOP 5 FROM ...

In [14]:
dataframe.head()

,ContentDisplayName,Duration,Description
0,EHS6029 Fall Protection Competent Person - Int...,2 hours,Audience: Product Deployment Employees (Energy...
1,EHS6038 Fleet Safety - Introduction to Safe Dr...,20 minutes,Audience: Energy and SSD employees\nDescriptio...
2,EHS6049 Gold Shovel Training,20 minutes,Audience: Product Deployment Employees (Energy...
3,EHS6051 Hammer Drills - Safety and Use,10 minutes,Audience: Product Deployment Employees (Energy...
4,EHS6052 Impact Driver Safety and Use,10 minutes,Audience: Product Deployment Employees (Energy...

### 6.2 Exploring the Data

To find out how big our data table is, let's explore its size.

In [15]:
size = dataframe.size
length = len(dataframe)
width = len(dataframe.columns)

In [16]:
#To print text with integers, we had to convert the integers to type string, in order to concatenate them into a long string
print("The dataframe has " + str(length) + " rows and " + str(width)  + " columns, with a total of " + str(size) + " data points.")

The dataframe has 689 rows and 3 columns, with a total of 2067 data points.

In [17]:
#now let's see what column names we have
dataframe.columns

Index(['ContentDisplayName', 'Duration', 'Description'], dtype='object')

We often want to rename our columns so they are easier to reference. 

In order to do that, we will use a *dictionary*
Essentially, it is a mapping between {key : value} pairs, seperated by commas.

Here, we want to map the old column names to new column names.

In [18]:
columns_dict = {"ContentDisplayName" : "Name", "Duration" : "Time", "Description" : "Details"}

In [19]:
#To rename the columns, we call DataFrame.rename() as a function and pass in the necessary arguments
# mapping = columns_dict
# axis = 1 (for columns) or 0 (for rows)
# inplace = True (replaces the current dataframe) or False (creates a new dataframe)
dataframe.rename(columns_dict, axis=1, inplace=True)

In [20]:
#now we check to see that the column names have reflected properly
dataframe.head()

,Name,Time,Details
0,EHS6029 Fall Protection Competent Person - Int...,2 hours,Audience: Product Deployment Employees (Energy...
1,EHS6038 Fleet Safety - Introduction to Safe Dr...,20 minutes,Audience: Energy and SSD employees\nDescriptio...
2,EHS6049 Gold Shovel Training,20 minutes,Audience: Product Deployment Employees (Energy...
3,EHS6051 Hammer Drills - Safety and Use,10 minutes,Audience: Product Deployment Employees (Energy...
4,EHS6052 Impact Driver Safety and Use,10 minutes,Audience: Product Deployment Employees (Energy...

Suppose we don't want any rows of duplicate data in our dataframe, then we can run DataFrame.drop_duplicates() on the dataframe

--we can specify a subset of the columns as an optional argument, in case we want to check rows that are duplicated against only specific column values.

In [21]:
dataframe.drop_duplicates(inplace=True)
len(dataframe)

670

### 6.3 Slicing the Data

We can grab one column of the dataframe, as an array, by specificying the column name in square brackets.

In [22]:
details_array = dataframe['Details']
details_array

0      Audience: Product Deployment Employees (Energy...
1      Audience: Energy and SSD employees\nDescriptio...
2      Audience: Product Deployment Employees (Energy...
3      Audience: Product Deployment Employees (Energy...
4      Audience: Product Deployment Employees (Energy...
                             ...
684    The Fremont Security Training Program is a com...
685    Description: This program is for Gigafactory N...
686    This is the practical exam required to become ...
687    *Draft* This program contains the required tra...
688    This course will review Tesla's Hearing Protec...
Name: Details, Length: 670, dtype: object

Suppose we wanted to select only a few columns from our dataframe, the best way to do this is to *slice* our dataframe and set it equal to a new dataframe.

In [23]:
dataframe[['Details', 'Name']]

,Details,Name
0,Audience: Product Deployment Employees (Energy...,EHS6029 Fall Protection Competent Person - Int...
1,Audience: Energy and SSD employees\nDescriptio...,EHS6038 Fleet Safety - Introduction to Safe Dr...
2,Audience: Product Deployment Employees (Energy...,EHS6049 Gold Shovel Training
3,Audience: Product Deployment Employees (Energy...,EHS6051 Hammer Drills - Safety and Use
4,Audience: Product Deployment Employees (Energy...,EHS6052 Impact Driver Safety and Use
...,...,...
684,The Fremont Security Training Program is a com...,NaN
685,Description: This program is for Gigafactory N...,NaN
686,This is the practical exam required to become ...,EHS.03.TX.122 - NFPA 70E Practical Test
687,*Draft* This program contains the required tra...,NaN
688,This course will review Tesla's Hearing Protec...,EHS0015: Hearing Conservation

We can also *filter* our rows through a slicing method where the filter is applied inside the [] brackets. 

Here, we want all values of the dataframe where the Name is not NULL.

In [28]:
No_Blanks = dataframe[dataframe['Name'].notna()]
No_Blanks

,Name,Time,Details
0,EHS6029 Fall Protection Competent Person - Int...,2 hours,Audience: Product Deployment Employees (Energy...
1,EHS6038 Fleet Safety - Introduction to Safe Dr...,20 minutes,Audience: Energy and SSD employees\nDescriptio...
2,EHS6049 Gold Shovel Training,20 minutes,Audience: Product Deployment Employees (Energy...
3,EHS6051 Hammer Drills - Safety and Use,10 minutes,Audience: Product Deployment Employees (Energy...
4,EHS6052 Impact Driver Safety and Use,10 minutes,Audience: Product Deployment Employees (Energy...
...,...,...,...
670,EHS.06.TX.111 - Emergency Action Plan (EAP),45 minutes,Welcome to Tesla! The purpose of this training...
671,EHS.06.TX.115 - Scissor Lift Training,NaN,This instructor-led training is for learners a...
672,EHS.06.TX.116 - Aerial (Boom) Lift Training,NaN,This instructor-led training is for learners a...
686,EHS.03.TX.122 - NFPA 70E Practical Test,60 minutes,This is the practical exam required to become ...
688,EHS0015: Hearing Conservation,20 minutes,This course will review Tesla's Hearing Protec...

Similary, we can apply filters for checking the that values are ==, !=, >, and other comparable methods.

To get rows, we can call the `DataFrame.loc[]` or `DataFrame.iloc[]` operators. 

#### 6.3.1 Example
Problem Statment: Get the descriptions of all EHS Courses that are asssociated to Texas.

#### Solution:

In [35]:
#loc operator slices, similar to the square brackets
#Series.str.contains() is a method to check if the string contains the string we pass in, in this case "TX" for Texas
#We only want the details of these courses, so we pass that column name in as a second argument to loc[]
EHS_TX_Course_Descriptions = No_Blanks.loc[No_Blanks['Name'].str.contains("TX"), "Details"]
EHS_TX_Course_Descriptions

523    Welcome to Tesla Contractor Safety. This train...
538    This Instructor-Led course is for Giga Factory...
545    This instructor-led training is for learners a...
553    This instructor-led training is required for G...
589    This course is designed to provide a general a...
595    EHS instructors will use this instructor-led t...
641    In this course the learner will learn the role...
642    In this course the learner will learn the role...
643    In this course the learner will learn the role...
644    Course provides the appropriate learner at GF ...
647    This site safety orientation is for new hire e...
648    This instructor-led training provides the trai...
649    This Instructor-Led course is for GF Texas emp...
655    This instructor-led course is for GF Texas emp...
656    This instructor-led course is for GF Texas emp...
666    The purpose of this training is to provide you...
667    This instructor-led training is for learners a...
668    This instructor-led training is for learners a...
669    This instructor-led training is for learners a...
670    Welcome to Tesla! The purpose of this training...
671    This instructor-led training is for learners a...
672    This instructor-led training is for learners a...
686    This is the practical exam required to become ...
Name: Details, dtype: object

### 6.3.2 Try It Out!
#### Problem Stament: Find the names of all EHS Courses that have a duration 1 hour or less. 
*Hint: You may want to use the [Series.str.split](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.split.html) function to split the Duration column into integer values and units. Pass in expand=True*

In [39]:
## YOUR ATTEMPT 

EHS_Courses_Under_OneHour = "FILL ME IN" #TODO
EHS_Courses_Under_OneHour

'FILL ME IN'

#################################################################################################################################################

## 7. Error Checking

Why is error checking important?


Rather than running a sript for 3 hours just to see it fail somewhere down the line and wonder why... 

we can handle errors by checking for specific cases. This often requires some insight or foreshadowing of what the user could've done to cause an error in the code (i.e. passing in the wrong thing as arguments or files)

The more specific error messages are written, the more it helps debug code. 

*Best practice: think of edge cases as a block of code is written, and add some error checking at that stage.*


Topics:
- try / except clauses
- assert statements
- conditional clauses with print statements
- throwing an error or exception

### 7.1 Try / Except

There are 4 pieces to the Python Try Except:
1. `try` is to test some code for errors.
2. `except` is to handle the error.
3. `else` is to run code that doesn't error. 
4. `finally` is to run code outside of the try / except.

In [1]:
try:
    print(magic)
except:
    print("An exception occurred, variable not defined.")

An exception occurred, variable not defined.

In [3]:
try:
    print(potion)
except NameError:
    print("Potion is not defined")
except:
    print("An exception occurred, the variable is defined though.")
finally:
    print("Snake Juice is yummy")

Potion is not defined
Snake Juice is yummy

In [4]:
potion = 18.9
try:
    print(potion)
except NameError:
    print("Potion is not defined")
except:
    print("An exception occurred, the variable is defined though.")
finally:
    print("Snake Juice is yummy")

18.9
Snake Juice is yummy

### 7.1.1 Example

This clause is stolen from TrainingMatrix / py / TrainingMatrix_NewData.py

What does this clause do?

In [7]:
try:
    print ("Now saving learner dataframe to csv... | timestamp: " + str(datetime.now()))   
    df_learners.to_csv(utils.lihim.path_trainingmatrix_csv + 'df_output.csv', sep='\t', encoding='utf-8')        
    sqlPush(df_learners, 't_pr_ds30112_TrainingMatrix')
    print ( + ' SUCCESS : Training Matrix generated! | timestamp: ' + str(datetime.now()))    
except:
    err = sys.exc_info()[0]
    print (str(datetime.now()) + ' : ' + str(err))    

finally:
    sql_conn.close()

NameError: name 'p' is not defined

### 7.2 Assert Statements

`assert` statement are for ensuring that a certain condition is always true, otherwise the code will eror. 

The program will stop running if the `assert` condition is not met, and throw an `AssertionError`

In [10]:
assert type(potion) == float, "Potion value must be of type float."

In [11]:
potion = "Snake Juice"
assert type(potion) == float, "Potion value must be of type float."

AssertionError: Potion value must be of type float.

Assert statements can be extremely useful in checking the parameters of a function. 

We can check that the data types match what is needed to execute the code block (like above).
It is also helpful to make sure the inputs are / aren't empty, that the return value is / isn't empty, and any other errors that could arise.

### 7.2.1 Example

In [13]:
def fraction(numerator, denominator):
    assert denominator != 0, "Cannot divide by 0"
    return (numerator / denominator)

fraction1 = fraction(2, 10)
fraction2 = fraction(9, 0)
print(fraction1, fraction2)

AssertionError: Cannot divide by 0

### 7.3 Conditionals

We can use `if` statements to make sure our condition is met, and then print an error otherwise.

In [21]:
quidditch = {"Type":"Sport", "Tool":"Broomstick", "Location":"Hogwarts"}

if type(quidditch) != dict:
    print("quidditch must be a dictionary")
else:
    print("quidditch was initialized properly!")

quidditch was initialized properly!

In [20]:
quidditch = 10

if type(quidditch) != dict:
    print("quidditch must be a dictionary")
else:
    print("quidditch was initialized properly!")

quidditch must be a dictionary

### 7.4 Raise Exceptions

If you are to raise an Exception, be specific with the error caught. 

i.e. What kind of error are you throwing?

`TypeError` corresponds to incompatible data type operations or checking the data type. 

`ValueError` corresponds to the right type but wrong value. 

More can be found [here](https://docs.python.org/3/library/exceptions.html)

In [27]:
players = "me"

if type(players) != int or type(players) != float:
    raise TypeError("Players was not passed in as a numeric type.")

TypeError: Players was not passed in as a numeric type.

### 7.5 Example

This example is two functions for when AQI data was migrated from a csv to the Wizards SQL Server. In order to do this, I defined functions that establish a connection to the sql server `create_connection` and a function that creates a table in the sql server `create_table_sqlsever`

There are examples of `assert` statements, `raise Exception` and `try`, `except` clauses.

In [ ]:
import pyodbc

def create_connection(driver_name, server_name, database):
    assert len(driver_name) > 0 and len(server_name) > 0 and len(database) > 0, "At least one parameter passed in is empty."
    conn = pyodbc.connect('Driver={' + driver_name + '};'
                      'Server=' + server_name + ';'
                      'Database=' + database + ';'
                      'Trusted_Connection=yes;')
    cursor = conn.cursor()

def create_table_sqlserver(table_name, column_names, column_datatypes):
    format_text = []
    
    if (len(column_names) != len(column_datatypes)):
        raise Exception("Every column needs a corresponding datatype")
    
    for i in np.range(len(column_names)-1):
        format_text.append('\n' + column_name[i] + ' ' + column_datatypes[i] + ',')
    format_text.append('\n' + column_name[len(column_names)] + ' ' + column_datatypes[len(column_names)])
    
    try:
        cursor.execute('''
            CREATE TABLE''' + table_name + ''' ( ''' +
            format_text + ''' )
            ''')
    except:
        print("An error occurred, the table: " + table_name + " was not created in the server.")

#################################################################################################################################################

## 8. Solutions

### 4.1 Solution

Checks if a fraction divides evenly by using the modulo "%" operator

In [7]:
def divisible_by_three(numerator, denominator):
    remainder = numerator % denominator
    if remainder == 0:
        print("Divides evenly!")
    else:
        print("Not divisible by :(, remainder is " + str(remainder))

### 5.3 Solution
For loop solution:

In [78]:
for i in np.arange(21):
    if (i != 0):
        if (i % 2) == 0:
            print(str(i) + ": even")
        else:
            print(str(i) + ': odd')

1: odd
2: even
3: odd
4: even
5: odd
6: even
7: odd
8: even
9: odd
10: even
11: odd
12: even
13: odd
14: even
15: odd
16: even
17: odd
18: even
19: odd
20: even

While loop solution:

In [76]:
i = 1
while i < 21:
    if (i % 2) == 0:
        print(str(i) + ": even")
    else:
        print(str(i) + ': odd')
    i += 1

1: odd
2: even
3: odd
4: even
5: odd
6: even
7: odd
8: even
9: odd
10: even
11: odd
12: even
13: odd
14: even
15: odd
16: even
17: odd
18: even
19: odd
20: even

### 6.3.2 Solution

Run the cell below to see if your solution, assigned to `EHS_Courses_Under_OneHour` matches the final solution!

In [70]:
#Answer Check

if final_solution.all() == EHS_Courses_Under_OneHour:
    print("Great Work! You got the right answer.")
else:
    print("Not quite, walk back through your steps or check out the solution below. Note: Null course names were removed from the final solution.")

Not quite, walk back through your steps or check out the solution below. Note: Null course names were removed from the final solution.

In [66]:
#Problem 1: Solution

dataframe[['Time1', 'Unit1', 'Time2', 'Unit2']] = dataframe['Time'].str.split(" ", expand=True)
solution = dataframe[dataframe['Unit1'] == 'minutes']
short_courses = solution[pd.to_numeric(solution['Time1']) < 60]
final_solution = short_courses[short_courses['Name'].notna()]['Name']
final_solution

1      EHS6038 Fleet Safety - Introduction to Safe Dr...
2                           EHS6049 Gold Shovel Training
3                 EHS6051 Hammer Drills - Safety and Use
4                   EHS6052 Impact Driver Safety and Use
5                 EHS6054 Job Site Emergency Action Plan
                             ...
594    EHS.01.BA.214 - Hazardous Waste Streams Manage...
595    EHS.06.TX.121 - EHS Training Acknowledgement f...
666    EHS.05.TX.110 - Paint Process Safety Managemen...
670          EHS.06.TX.111 - Emergency Action Plan (EAP)
688                       EHS0015:  Hearing Conservation
Name: Name, Length: 384, dtype: object

##################################################################################################################################################################

Thanks for coming along! Hope you learned some fun Python. 

author: @hayahalabieh