# Hogwarts School of Data Wizardry
## Session 3: Python <-> SQL Server
`Ravenclaw`  |   [GitHub](https://github.tesla.com/EHSS/Hogwarts) | [Documentation](https://confluence.teslamotors.com/display/EHSSST/Hogwarts+School+of+Data+Wizardry)

#####################################################################################################################################################################
#####################################################################################################################################################################

## Table of Contents:
### [1. Using pyodbc](#1-using-pyodbc)
- [1.1 What is pyodbc?](#11-what-is-pyodbc)
- [1.2 pyodbc Automated Functions](#12-defining-pyodbc-automated-functions)
### [2. Using sqlalchemy](#2-sql-alchemy)

#####################################################################################################################################################################
#####################################################################################################################################################################

## 1. Using pyodbc

### 1.1 What is pyodbc?

`pyodbc` is a python package that establishes a connection to database servers. 

Our use case: SQL Sever

Limitations:

In [ ]:
import pyodbc
import uuid

In [ ]:
#location of table
wizards_server = 'sjc04ihsprddb.teslamotors.com'
AQIdatabase = 'dAQI'
CIMSdatabase = 'dCIMS'
DMdatabase = 'dDomainModel'



#Fill in database name
mydatabase = "..."

### 1.2 Defining pyodbc automated functions

Below are functions written to generalize the process of connecting to SQL Server using pyodbc.

#### 1.2.1 Creating a connection
The first step of connecting to SQL Server is establishing a connection, given a `driver_name`, `server_name`, and `database`

In [ ]:
def create_connection(driver_name, server_name, database):
    conn = pyodbc.connect('Driver={' + driver_name + '};'
                      'Server=' + server_name + ';'
                      'Database=' + database + ';'
                      'Trusted_Connection=yes;')
    cursor = conn.cursor()
    return conn, cursor

The return values of the function must be assigned to variables, to later be called upon in the following functions.

In [ ]:
#FILL ME IN

driver = ""
server = ""
database = ""
conn, cursor = create_connection(driver, server, database)

### 1.2.2 Creating a table in SQL Server
Though we can automate this process given the following python function, our current Data Wizard preferred strategy is to make a table given a SQL script. Please refer to the [scripts](https://github.tesla.com/EHSS/CIMS/blob/main/sql/Chemical%20Inventory%20Creation.sql) in the [CIMS repo](https://github.tesla.com/EHSS/CIMS) as examples. 

This function takes in `table_name`, `column_names` as a list, `column_datatypes` as a list of [SQL datatypes](https://www.w3schools.com/sql/sql_datatypes.asp) and creates a table in the connected server and database (from the step above). 

You can verify the table was made by scripting a SELECT statement for the `table_name`

In [ ]:
def create_table_sqlserver(table_name, column_names, column_datatypes):
    format_text = []
    
    if (len(column_names) != len(column_datatypes)):
        raise Exception("Every column needs a corresponding datatype")
    
    for i in np.range(len(column_names)-1):
        format_text.append('\n' + column_name[i] + ' ' + column_datatypes[i] + ',')
    format_text.append('\n' + column_name[len(column_names)] + ' ' + column_datatypes[len(column_names)])
    
    cursor.execute('''
        CREATE TABLE''' + table_name + ''' ( ''' +
            format_text + ''' )
            ''')

### 1.2.3 Loading data to SQL Server

Once data is loaded into a dataframe, and so long as the columns match up, the data can be loaded into the SQL Server table.

`columns` = a tuple of column names seperated by commas, 

i.e. (sensor_name, date, reading)

--

`values` = a tuple of question marks, one per column name, seperated by commas

i.e. (?, ?, ?)

*currently the function assigns a UUID (random ID number) to the first column in the SQL table. Comment out that line if you'd like*

In [ ]:
def load_df_to_sqlserver(df, sql_table_name, columns, values):

    
    for row in df.itertuples():

        
        cursor.execute('''
        INSERT INTO ''' + sql_table_name + ''' ''' + columns + '''
        VALUES ''' + values + '''
        ''',
        uuid.uuid4(), #comment out if no GUID necessary

        for i in np.arange(len(columns)-1):
            row.column[i],
        row.column[len(columns)]

                      )
    conn.commit()

## 2. SQL Alchemy

@benjie FILL ME IN